<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/ reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <script src="https://kit.fontawesome.com/3d30a49dec.js" crossorigin="anonymous"></script>
    <%- include('../layout/head',{head:'Details'})%>
</head>

<body>
    <%- include('../layout/header',{pageName:'Details',""}) %>
        <div id='container'>
            <div class="card">
                <img src="" alt="">
                <div>

                </div>
                <form class="bookForm" action="/details">
                    <input class="inp" type="hidden" value="">
                    <input class="inp" type="hidden" value="">
                    <input class="inp" type="hidden" value="">
                    <input class="inp" type="hidden" value="">
                    <input class="inp" type="hidden" value="">
                    <input class="inp" type="hidden" value="">
                    <button class="inp">view Details</button>
                </form>
            </div>
</body>

</html>