<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/ reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <script src="https://kit.fontawesome.com/3d30a49dec.js" crossorigin="anonymous"></script>
    <title>Form</title>
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
      <nav>
        <ul class="primary">
          <li>
            <a href="#"><i class="fas fa-bars"></i></a>
            <ul class="sub">
              <li><a style="font-size:20px;width: 300px;" href="\">Home</a></li>
              <li><a style="font-size:20px;width: 300px;float: left;margin-right: 250px;" href="\new">Search The Google <br> Books API</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div class="firstDiv">
      <h2>
        Search by Title or Author
      </h2>
    </div>
    <main>
      <form action="/searchs" method="POST" id="myForm">
        <input type="text" name="search" placeholder="Enter a Title or Author" required>
        <fieldset class="radioC">
          <label for="title">
            <span>
              <p class="boxTitle">Title</p>
              <input  type="radio" name="search" value="title" required id="title">
            </span> 
          </label>
        </fieldset>
        <fieldset class="radioC">
          <label for="author">
            <span>
              <p class="boxTitle">Author</p>
              <input  type="radio" name="search" value="author" required id="author">
            </span>
          </label>
        </fieldset>
        <button type="submit" value="submit">Search the Google Books API</button>
      </form>
    </main>
  </body>
</html>