header{
    height: 5%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
h1{
    color: white;
    font-size: 70px;
}

.firstDiv{
    height: 80px;
    background-color: gray;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
}
#myForm{
    margin-top: 20px;
    height: 400px;
    width:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.radioC{
    background-color: lightgrey;
    height: 40px;
}
#container{
    margin-top: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.card{
    height: 575px;
    width:400px;
    border: solid black 1px;
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color:#c8ccd1;;
}
img{
    margin: auto;
    width: 70%;
    height: 55%;
    justify-self: center;
    border: solid black 1px;
    margin-top: 30px;
}
.boxTitle{
    width: 50%;
}
.titleDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
    width: 85%;
    align-self: center;
    margin-bottom: 20px;
}

.detailImg{
    margin: auto;
    width: 40%;
    height: 30%;
    justify-self: center;
    border: solid black 1px;
    margin-top: 30px;
    margin-bottom: 0;
}
.paraDiv{
    height: 200px;
    width: 70%;
    overflow: auto;
    background-color: #f1f1f1;
    align-self: center;
}

.detailCard{
    height: 700px;
    width:400px;
    border: solid black 1px;
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color:#c8ccd1;;
}

.isbnDiv{
    width: fit-content;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

button{
    border-radius: 20px;
}
.label{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.updateCard{
    height: 800px;
    width: 654px;
    border: solid black 1px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #c8ccd1;
}

.updateForm{
    margin-top: 45px;
    align-self: center;
    justify-self: center;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.inpu2{
    width: 100%;
}