header{
    height: 5%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
h1{
    color: white;
    font-size: 70px;
}

.firstDiv{
    height: 80px;
    background-color: gray;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
}
#myForm{
    margin-top: 20px;
    height: 400px;
    width:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.radioC{
    background-color: lightgrey;
    height: 40px;
}
#container{
    margin-top: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
.card{
    height: 500px;
    width:400px;
    border: solid black 1px;
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color:#c8ccd1;;
}
img{
    margin:auto;
    width: 70%;
    height: 60%;
    justify-self: center;
    border:solid black 1px;
    margin-top: 20px;
}
.boxTitle{
    width: 50%;
}
