<header>
    <h1>Best Books!</h1>
    <a href="#"><i class="fas fa-bars"></i></a>
  </header>
  <div class="firstDiv">
    <span class="homeSpan">
      <p style="font-size: 20px;color: black;">
        <%= items %>
      </p>
    </span>
    <h2 style="margin-top: 23px;font-size: 30px;">
      <%= pageName %>
    </h2>
  </div>